.header {
  grid-area: h;
  background-color: #6094bb;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #dee5ec;
}

.header img {
  padding: 20px 60px;
  width: 120px;
}

.logo {
  float: left;
  width: 252px;
  background-color: #6094bb;
}

.logo:hover {
  width: 252px;
  cursor: pointer;
  background-color: #488abd;
}

.loginBlock {
  float: right;
  padding: 20px 30px;
  color: white;
}

.loginBlock a {
  color: white;
}