.header {
  grid-area: h;
  background-color: #6094bb;
  border-radius: 0 0 3px 3px;
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
  grid-template-areas: "lg c lB";
}

.header img {
  padding-top: 20px;
  max-width: 120px;
  min-width: 90px;
}

.logo {
  grid-area: lg;
  min-width: 137px;
  background-color: #6094bb;
}

.logo:hover {
  grid-area: lg;
  cursor: pointer;
  background-color: #488abd;
}
.center {
  grid-area: c;
}

.loginBlock {
  grid-area: lB;
  padding: 20px 30px;
  color: white;
}

.loginBlock a {
  color: white;
}