.header {
  grid-area: h;
  background-color: #6094bb;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #dee5ec;
}

.header img {
  padding: 20px 38px;
  width: 120px;
}

.logo {
  width: 200px;
  background-color: #6094bb;
}

.logo:hover {
  width: 200px;
  cursor: pointer;
  background-color: #488abd;
}

