.nav {
  grid-area: n;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #dee5ec;
  border-right: 1px solid #dee5ec;
  border-bottom: 1px solid #d0dae2;
  padding: 20px;
}

.item {
  background-color: #fff;
}

.item a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.item a.active {
  color: gold;
}

