.nav {
  grid-area: n;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #dee5ec;
  border-right: 1px solid #dee5ec;
  border-bottom: 1px solid #d0dae2;
}

.item {
  margin: auto;
  padding: 18px 30px;
  border-bottom: 1px solid #d0dae2;
  max-height: 50px;
  font-weight: bold;
  font-size: 14px;
}

/* .item img {
  padding: 0 40px 0 10px;
} */

.item:hover {
  background-color: #eff4f8;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}
