.content {
    padding: 20px;
    margin: 0 auto;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-areas: "d p";
    grid-template-columns: 7fr 5fr;
    /* grid-gap: 10px; */
}

.description {
    grid-area: d;
}

.nickname {
   font-size: 18px;
   font-weight: normal;
}

.status {
    color: #acaaaa;
    border-bottom: silver;
    font-size: 10px;
}

.info {
    font-size: 14px;
    margin-top: 16px;
    margin-right: 10px;
}

.profile {
    grid-area: p;
    max-width: 200px;
    min-width: 80px;
}

.profile img {
    float: right;
    width: 100%;
}
