html {
  background-color: #dee5ec;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1006px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-template-rows: 60px 1fr 23px;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-areas: 
  "h h h"
  "n c c"
  "f f f";
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #dee5ec;
  border-right: 1px solid #dee5ec;
  border-bottom: 1px solid #d0dae2;
  padding: 15px;
}
